In [2]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/jennybc/gapminder/master/inst/extdata/gapminder.tsv', sep='\t')

In [3]:
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [5]:
df.shape

(1704, 6)

In [6]:
df.describe()

             year      lifeExp           pop      gdpPercap
count  1704.00000  1704.000000  1.704000e+03    1704.000000
mean   1979.50000    59.474439  2.960121e+07    7215.327081
std      17.26533    12.917107  1.061579e+08    9857.454543
min    1952.00000    23.599000  6.001100e+04     241.165876
25%    1965.75000    48.198000  2.793664e+06    1202.060309
50%    1979.50000    60.712500  7.023596e+06    3531.846988
75%    1993.25000    70.845500  1.958522e+07    9325.462346
max    2007.00000    82.603000  1.318683e+09  113523.132900

In [7]:
'''
문제1. [Quiz] pop 평균보다 인구가 높은 국가의 1970년대 데이터를
필터링하고,continent, country, pop, gdpPercap 열만 출력하라.
'''

'\n문제1. [Quiz] pop 평균보다 인구가 높은 국가의 1970년대 데이터를\n필터링하고,continent, country, pop, gdpPercap 열만 출력하라.\n'

In [27]:
con1 = df['pop']>=df['pop'].mean()
con2 = df['year'] >= 1970
con3 = df['year'] < 1980

df[con1 & con2 & con3]['continent', 'country', 'pop', 'gdpPercap']

KeyError: ('continent', 'country', 'pop', 'gdpPercap')