In [1]:
# íŒë‹¤ìŠ¤ ì„í¬íŠ¸
import pandas as pd

In [2]:
# í˜„ì¬ ìœ„ì¹˜ í™•ì¸!
%pwd

# í˜„ì¬ ìœ„ì¹˜ë¥¼ í™•ì¸í•˜ëŠ” ë‹¤ë¥¸ë°©ë²• -> osë¥¼ ì´ìš©í•˜ë©´ ë³€ìˆ˜ì— ë‹´ì„ ìˆ˜ ìˆë‹¤!
import os

now = os.getcwd()
print(now)

c:\Users\go121\practice_jupyter\ê°œì¸ê³µë¶€ìš©

In [3]:
# csvíŒŒì¼ì„ ì½ì–´ì„œ 'ë³€ìˆ˜ëª…'ë³€ìˆ˜ì— ë‹´ëŠ”ë‹¤
ë³€ìˆ˜ëª… = pd.read_csv('./data/house_price_clean.csv')
drinks = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv')
'''
âœ¨ íŒë‹¤ìŠ¤ ë°ì´í„° ê°ì²´ âœ¨
ğŸ” Series ê°ì²´
ì¸ë±ìŠ¤ì™€ ê°’ìœ¼ë¡œ ì´ë£¨ì–´ì§„ 1ì°¨ì› ë°ì´í„°ë¥¼ ë‹¤ë£¨ê¸° ìœ„í•œ ê°ì²´

ğŸ” DataFrame ê°ì²´
í–‰ê³¼ ì—´ë¡œ ì´ë£¨ì–´ì§„ 2ì°¨ì› ë°ì´í„°ë¥¼ ë‹¤ë£¨ê¸° ìœ„í•œ ê°ì²´

ğŸ¤” íŒë‹¤ìŠ¤ì—ì„œëŠ” ë‹¤ì–‘í•œ í˜•í…Œì˜ ë°ì´í„°ë¥¼ ë¶ˆëŸ¬ì˜¬ ìˆ˜ ìˆë‹¤.
ëŒ€í‘œì ì¸ ë°ì´í„° í˜•ì‹ìœ¼ë¡œëŠ” CSV, Excel, SQLë“±ì´ ìˆë‹¤.
'''

'\nâœ¨ íŒë‹¤ìŠ¤ ë°ì´í„° ê°ì²´ âœ¨\nğŸ” Series ê°ì²´\nì¸ë±ìŠ¤ì™€ ê°’ìœ¼ë¡œ ì´ë£¨ì–´ì§„ 1ì°¨ì› ë°ì´í„°ë¥¼ ë‹¤ë£¨ê¸° ìœ„í•œ ê°ì²´\n\nğŸ” DataFrame ê°ì²´\ní–‰ê³¼ ì—´ë¡œ ì´ë£¨ì–´ì§„ 2ì°¨ì› ë°ì´í„°ë¥¼ ë‹¤ë£¨ê¸° ìœ„í•œ ê°ì²´\n\nğŸ¤” íŒë‹¤ìŠ¤ì—ì„œëŠ” ë‹¤ì–‘í•œ í˜•í…Œì˜ ë°ì´í„°ë¥¼ ë¶ˆëŸ¬ì˜¬ ìˆ˜ ìˆë‹¤.\nëŒ€í‘œì ì¸ ë°ì´í„° í˜•ì‹ìœ¼ë¡œëŠ” CSV, Excel, SQLë“±ì´ ìˆë‹¤.\n'

In [4]:
# í–‰ê³¼ ì—´ì˜ ê°œìˆ˜ í™•ì¸í•˜ê¸°
print(ë³€ìˆ˜ëª….shape)
'''
ğŸ¤” í–‰ê³¼ ì—´ì˜ ê°œìˆ˜ë¥¼ íŠœí”Œë¡œ ë°˜í™˜í•œë‹¤. (í–‰ì˜ ê°œìˆ˜, ì—´ì˜ ê°œìˆ˜)
'''

(3293, 5)

'\nğŸ¤” í–‰ê³¼ ì—´ì˜ ê°œìˆ˜ë¥¼ íŠœí”Œë¡œ ë°˜í™˜í•œë‹¤. (í–‰ì˜ ê°œìˆ˜, ì—´ì˜ ê°œìˆ˜)\n'

In [5]:
# ë°ì´í„°ì˜ í˜•íƒœ í™•ì¸í•˜ê¸°
print(ë³€ìˆ˜ëª….dtypes)
'''
ğŸ¤” ì—´ì„ ê¸°ì¤€ìœ¼ë¡œ ë°ì´í„°ì˜ íƒ€ì…ì„ ë°˜í™˜í•œë‹¤.
'''

ì§€ì—­     object
ê·œëª¨     object
ì—°ë„      int64
ì›”       int64
ë¶„ì–‘ê°€     int64
dtype: object

'\nğŸ¤” ì—´ì„ ê¸°ì¤€ìœ¼ë¡œ ë°ì´í„°ì˜ íƒ€ì…ì„ ë°˜í™˜í•œë‹¤.\n'

In [6]:
# í–‰ê³¼ ì—´ì˜ ì´ë¦„ í™•ì¸í•˜ê¸°
print(ë³€ìˆ˜ëª….axes)
print(ë³€ìˆ˜ëª….index)
print(ë³€ìˆ˜ëª….columns)
'''
ğŸ¤” í–‰ê³¼ ì—´ì˜ ì´ë¦„ì„ ë¦¬ìŠ¤íŠ¸ë¡œ ë°˜í™˜í•œë‹¤.
'''

[RangeIndex(start=0, stop=3293, step=1), Index(['ì§€ì—­', 'ê·œëª¨', 'ì—°ë„', 'ì›”', 'ë¶„ì–‘ê°€'], dtype='object')]
RangeIndex(start=0, stop=3293, step=1)
Index(['ì§€ì—­', 'ê·œëª¨', 'ì—°ë„', 'ì›”', 'ë¶„ì–‘ê°€'], dtype='object')

'\nğŸ¤” í–‰ê³¼ ì—´ì˜ ì´ë¦„ì„ ë¦¬ìŠ¤íŠ¸ë¡œ ë°˜í™˜í•œë‹¤.\n'

In [7]:
# ë°ì´í„° í”„ë ˆì„ ì •ë³´ í™•ì¸í•˜ê¸°
print(ë³€ìˆ˜ëª….info())
'''
ğŸ¤” ë°ì´í„°í”„ë ˆì„ì˜ ì •ë³´ë¥¼ ì¶œë ¥í•œë‹¤.
ë°ì´í„°í”„ë ˆì„ì˜ í¬ê¸°, ë°ì´í„°ì˜ íƒ€ì…, ê²°ì¸¡ì¹˜ ë“±ì˜ ì •ë³´ë¥¼ í™•ì¸!
'''

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3293 entries, 0 to 3292
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ì§€ì—­      3293 non-null   object
 1   ê·œëª¨      3293 non-null   object
 2   ì—°ë„      3293 non-null   int64
 3   ì›”       3293 non-null   int64
 4   ë¶„ì–‘ê°€     3293 non-null   int64
dtypes: int64(3), object(2)
memory usage: 128.8+ KB
None

'\nğŸ¤” ë°ì´í„°í”„ë ˆì„ì˜ ì •ë³´ë¥¼ ì¶œë ¥í•œë‹¤.\në°ì´í„°í”„ë ˆì„ì˜ í¬ê¸°, ë°ì´í„°ì˜ íƒ€ì…, ê²°ì¸¡ì¹˜ ë“±ì˜ ì •ë³´ë¥¼ í™•ì¸!\n'

In [8]:
# ì „ì¹˜
display(ë³€ìˆ˜ëª….T)
'''
ğŸ¤” í–‰ê³¼ ì—´ì´ ì „ì¹˜ë˜ì–´ ë°˜í™˜ëœë‹¤.
'''

,0,1,2,3,4,5,6,7,8,9,...,3283,3284,3285,3286,3287,3288,3289,3290,3291,3292
ì§€ì—­,ì„œìš¸,ì„œìš¸,ì„œìš¸,ì„œìš¸,ì¸ì²œ,ì¸ì²œ,ì¸ì²œ,ì¸ì²œ,ê²½ê¸°,ê²½ê¸°,...,ì „ë‚¨,ê²½ë¶,ê²½ë¶,ê²½ë¶,ê²½ë‚¨,ê²½ë‚¨,ê²½ë‚¨,ì œì£¼,ì œì£¼,ì œì£¼
ê·œëª¨,60ã¡ì´í•˜,60ã¡ì´ˆê³¼ 85ã¡ì´í•˜,85ã¡ì´ˆê³¼ 102ã¡ì´í•˜,102ã¡ì´ˆê³¼,60ã¡ì´í•˜,60ã¡ì´ˆê³¼ 85ã¡ì´í•˜,85ã¡ì´ˆê³¼ 102ã¡ì´í•˜,102ã¡ì´ˆê³¼,60ã¡ì´í•˜,60ã¡ì´ˆê³¼ 85ã¡ì´í•˜,...,102ã¡ì´ˆê³¼,60ã¡ì´í•˜,60ã¡ì´ˆê³¼ 85ã¡ì´í•˜,102ã¡ì´ˆê³¼,60ã¡ì´í•˜,60ã¡ì´ˆê³¼ 85ã¡ì´í•˜,85ã¡ì´ˆê³¼ 102ã¡ì´í•˜,60ã¡ì´í•˜,60ã¡ì´ˆê³¼ 85ã¡ì´í•˜,102ã¡ì´ˆê³¼
ì—°ë„,2015,2015,2015,2015,2015,2015,2015,2015,2015,2015,...,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020
ì›”,10,10,10,10,10,10,10,10,10,10,...,2,2,2,2,2,2,2,2,2,2
ë¶„ì–‘ê°€,5652,5882,5721,5879,3488,3119,3545,3408,3126,3239,...,3053,2578,2549,2756,2780,3065,3247,4039,3962,3601

'\nğŸ¤” í–‰ê³¼ ì—´ì´ ì „ì¹˜ë˜ì–´ ë°˜í™˜ëœë‹¤.\n'

In [9]:
# ë°ì´í„°í”„ë ˆì„ ì¼ë¶€ ë°ì´í„° ë³´ê¸°
display(ë³€ìˆ˜ëª….head(5))
display(ë³€ìˆ˜ëª….sample(5))
display(ë³€ìˆ˜ëª….tail(5))
'''
ğŸ¤” ì¼ë¶€ ë°ì´í„°ë¥¼ ì¶”ì¶œ
head(n) ìƒìœ„ ë°ì´í„° nê°œë¥¼ ì¶œë ¥
sample(n) ë Œë¤í•œ ë°ì´í„° nê°œë¥¼ ì¶œë ¥ / ê·¸ë•Œê·¸ë•Œë‹¬ë¼ìš”!
tail(n) í•˜ìœ„ ë°ì´í„° nê°œë¥¼ ì¶œë ¥
'''

   ì§€ì—­             ê·œëª¨    ì—°ë„   ì›”   ë¶„ì–‘ê°€
0  ì„œìš¸          60ã¡ì´í•˜  2015  10  5652
1  ì„œìš¸    60ã¡ì´ˆê³¼ 85ã¡ì´í•˜  2015  10  5882
2  ì„œìš¸   85ã¡ì´ˆê³¼ 102ã¡ì´í•˜  2015  10  5721
3  ì„œìš¸         102ã¡ì´ˆê³¼  2015  10  5879
4  ì¸ì²œ          60ã¡ì´í•˜  2015  10  3488

      ì§€ì—­            ê·œëª¨    ì—°ë„   ì›”   ë¶„ì–‘ê°€
1903  ì „ë‚¨         60ã¡ì´í•˜  2018   3  2228
3146  ì„¸ì¢…        102ã¡ì´ˆê³¼  2019  12  3931
418   ì¶©ë¶   60ã¡ì´ˆê³¼ 85ã¡ì´í•˜  2016   4  2010
807   ê°•ì›   60ã¡ì´ˆê³¼ 85ã¡ì´í•˜  2016  10  2138
660   ê´‘ì£¼         60ã¡ì´í•˜  2016   8  2567

      ì§€ì—­             ê·œëª¨    ì—°ë„  ì›”   ë¶„ì–‘ê°€
3288  ê²½ë‚¨    60ã¡ì´ˆê³¼ 85ã¡ì´í•˜  2020  2  3065
3289  ê²½ë‚¨   85ã¡ì´ˆê³¼ 102ã¡ì´í•˜  2020  2  3247
3290  ì œì£¼          60ã¡ì´í•˜  2020  2  4039
3291  ì œì£¼    60ã¡ì´ˆê³¼ 85ã¡ì´í•˜  2020  2  3962
3292  ì œì£¼         102ã¡ì´ˆê³¼  2020  2  3601

'\nğŸ¤” ì¼ë¶€ ë°ì´í„°ë¥¼ ì¶”ì¶œ\nhead(n) ìƒìœ„ ë°ì´í„° nê°œë¥¼ ì¶œë ¥\nsample(n) ë Œë¤í•œ ë°ì´í„° nê°œë¥¼ ì¶œë ¥ / ê·¸ë•Œê·¸ë•Œë‹¬ë¼ìš”!\ntail(n) í•˜ìœ„ ë°ì´í„° nê°œë¥¼ ì¶œë ¥\n'

In [16]:
# ë°ì´í„° í”„ë ˆì„ ìš”ì•½ í†µê³„ëŸ‰ ë³´ê¸°
display(ë³€ìˆ˜ëª….describe())
display(ë³€ìˆ˜ëª…['ì—°ë„'].describe()['min'])
display(drinks.groupby('continent')['spirit_servings'].describe()[['mean','min','max']])

'''
ğŸ¤” ë°ì´í„°í”„ë ˆì„ì˜ ìš”ì•½ í†µê³„ëŸ‰ì„ ì¶œë ¥
ê° ì—´ì˜ ê°œìˆ˜, í‰ê· , í‘œì¤€í¸ì°¨, ìµœì†Œê°’, 25%ë°±ë¶„ìœ„ìˆ˜, ì¤‘ì•™ê°’, 75%ë°±ë¶„ìœ„ìˆ˜, ìµœëŒ€ê°’
íŠ¹ì •ì»¬ëŸ¼ì˜ íŠ¹ì • ë°ì´í„°ë¥¼ ê°€ì ¸ ì˜¬ ìˆ˜ ìˆë‹¤.
'''

             index           ì—°ë„            ì›”           ë¶„ì–‘ê°€
count  3293.000000  3293.000000  3293.000000   3293.000000
mean   1646.000000  2017.406316     6.577285   3294.067112
std     950.751545     1.309646     3.588813   1321.781979
min       0.000000  2015.000000     1.000000   1868.000000
25%     823.000000  2016.000000     3.000000   2478.000000
50%    1646.000000  2017.000000     7.000000   2887.000000
75%    2469.000000  2019.000000    10.000000   3632.000000
max    3292.000000  2020.000000    12.000000  13835.000000

np.float64(2015.0)

                 mean   min    max
continent
AF          16.339623   0.0  152.0
AS          60.840909   0.0  326.0
EU         132.555556   0.0  373.0
OC          58.437500   0.0  254.0
SA         114.750000  25.0  302.0

'\nğŸ¤” ë°ì´í„°í”„ë ˆì„ì˜ ìš”ì•½ í†µê³„ëŸ‰ì„ ì¶œë ¥\nê° ì—´ì˜ ê°œìˆ˜, í‰ê· , í‘œì¤€í¸ì°¨, ìµœì†Œê°’, 25%ë°±ë¶„ìœ„ìˆ˜, ì¤‘ì•™ê°’, 75%ë°±ë¶„ìœ„ìˆ˜, ìµœëŒ€ê°’\n'

In [11]:
# ì—´ ì„ íƒí•˜ê¸°
display(ë³€ìˆ˜ëª…['ì§€ì—­'])
display(ë³€ìˆ˜ëª…[['ì§€ì—­','ê·œëª¨']])
'''
ğŸ” ë³€ìˆ˜ëª…['ì—´ ì´ë¦„']
ğŸ¤” íŠ¹ì •í•œ ì—´ì„ ì„ íƒí•  ë•Œ
ğŸ” ë³€ìˆ˜ëª…[['ì—´ ì´ë¦„1', 'ì—´ ì´ë¦„2', ...]]
ğŸ¤” ì—¬ëŸ¬ê°œì˜ ì—´ì„ ì„ íƒí•  ë•Œ ë‹¨, ë¦¬ìŠ¤íŠ¸ í˜•íƒœë¡œ ì—´ ì´ë¦„ì„ ì „ë‹¬í•œë‹¤!!

ê¹”ë”í•œ ì½”ë”©ì„ í•˜ë ¤ë©´ ì—´ ì´ë¦„ì˜ ë¦¬ìŠ¤íŠ¸ë¥¼ ë³€ìˆ˜ë¥¼ ì‚¬ìš©í•´ë³´ì!
col = ['ì§€ì—­', 'ê·œëª¨']
display(ë³€ìˆ˜ëª…[col])
'''

0       ì„œìš¸
1       ì„œìš¸
2       ì„œìš¸
3       ì„œìš¸
4       ì¸ì²œ
        ..
3288    ê²½ë‚¨
3289    ê²½ë‚¨
3290    ì œì£¼
3291    ì œì£¼
3292    ì œì£¼
Name: ì§€ì—­, Length: 3293, dtype: object

      ì§€ì—­             ê·œëª¨
0     ì„œìš¸          60ã¡ì´í•˜
1     ì„œìš¸    60ã¡ì´ˆê³¼ 85ã¡ì´í•˜
2     ì„œìš¸   85ã¡ì´ˆê³¼ 102ã¡ì´í•˜
3     ì„œìš¸         102ã¡ì´ˆê³¼
4     ì¸ì²œ          60ã¡ì´í•˜
...   ..            ...
3288  ê²½ë‚¨    60ã¡ì´ˆê³¼ 85ã¡ì´í•˜
3289  ê²½ë‚¨   85ã¡ì´ˆê³¼ 102ã¡ì´í•˜
3290  ì œì£¼          60ã¡ì´í•˜
3291  ì œì£¼    60ã¡ì´ˆê³¼ 85ã¡ì´í•˜
3292  ì œì£¼         102ã¡ì´ˆê³¼

[3293 rows x 2 columns]

"\nğŸ” ë³€ìˆ˜ëª…['ì—´ ì´ë¦„']\nğŸ¤” íŠ¹ì •í•œ ì—´ì„ ì„ íƒí•  ë•Œ\nğŸ” ë³€ìˆ˜ëª…[['ì—´ ì´ë¦„1', 'ì—´ ì´ë¦„2', ...]]\nğŸ¤” ì—¬ëŸ¬ê°œì˜ ì—´ì„ ì„ íƒí•  ë•Œ ë‹¨, ë¦¬ìŠ¤íŠ¸ í˜•íƒœë¡œ ì—´ ì´ë¦„ì„ ì „ë‹¬í•œë‹¤!!\n\nê¹”ë”í•œ ì½”ë”©ì„ í•˜ë ¤ë©´ ì—´ ì´ë¦„ì˜ ë¦¬ìŠ¤íŠ¸ë¥¼ ë³€ìˆ˜ë¥¼ ì‚¬ìš©í•´ë³´ì!\ncol = ['ì§€ì—­', 'ê·œëª¨']\ndisplay(ë³€ìˆ˜ëª…[col])\n"

In [12]:
# í–‰ ì„ íƒí•˜ê¸° - loc
display(ë³€ìˆ˜ëª….loc[0])
display(ë³€ìˆ˜ëª….loc[[0,1]])
display(ë³€ìˆ˜ëª….loc[:2])
'''
ğŸ” ë³€ìˆ˜ëª….loc[í–‰ ì´ë¦„ ë˜ëŠ” ì¸ë±ìŠ¤]
ğŸ¤” íŠ¹ì •í•œ í–‰ì„ ì„ íƒí•  ë•Œ
ğŸ” ë³€ìˆ˜ëª…[['í–‰ ì´ë¦„ ë˜ëŠ” ì¸ë±ìŠ¤1', 'í–‰ ì´ë¦„ ë˜ëŠ” ì¸ë±ìŠ¤2', ...]]
ğŸ¤” ì—¬ëŸ¬ê°œì˜ ì—´ì„ ì„ íƒí•  ë•Œ ë‹¨, ë¦¬ìŠ¤íŠ¸ í˜•íƒœë¡œ ì—´ ì´ë¦„ì„ ì „ë‹¬í•œë‹¤!!
ğŸ” ë³€ìˆ˜ëª…[ìŠ¬ë¼ì´ì‹±]
ğŸ¤” ìŠ¬ë¼ì´ì‹±ë„ ê°€ëŠ¥!
'''

# í–‰ ì„ íƒí•˜ê¸° - iloc / ì¸ë±ìŠ¤ë¥¼ ë„£ëŠ” ìë¦¬ì—ëŠ” ì •ìˆ˜ë§Œ ì…ë ¥ê°€ëŠ¥í•˜ë‹¤!
display(ë³€ìˆ˜ëª….iloc[0])
display(ë³€ìˆ˜ëª….iloc[0,2])
display(ë³€ìˆ˜ëª….iloc[:2,:2])
'''
ğŸ” ë³€ìˆ˜ëª….iloc[í–‰ ì¸ë±ìŠ¤]
ğŸ¤” íŠ¹ì •í•œ í–‰ì„ ì„ íƒí•  ë•Œ
ex) ë³€ìˆ˜ëª….loc[0]ê³¼ ê°™ì€ íš¨ê³¼ / ë³€ìˆ˜ëª….iloc[0,:]ë„ ê°™ìŒ
ğŸ” ë³€ìˆ˜ëª….iloc[í–‰ ì¸ë±ìŠ¤,ì—´ ì¸ë±ìŠ¤]
ğŸ¤” íŠ¹ì • ë°ì´í„°ë¥¼ ì„ íƒí•  ë•Œ
ex) ë³€ìˆ˜ëª….iloc[0,2] -> 0ë²ˆì§¸ í–‰ì˜ 2ë²ˆì§¸ ì—´ì˜ ë°ì´í„°ê°’ ì¶”ì¶œ
ğŸ” ë³€ìˆ˜ëª….iloc[ìŠ¬ë¼ì´ì‹±,ìŠ¬ë¼ì´ì‹±]
ğŸ¤” íŠ¹ì • êµ¬ê°„ì„ ì„ íƒí•  ë•Œ
'''

'''
ğŸ¤” locëŠ” ì¹¼ëŸ¼ëª…ì„ ì§ì ‘ ì ê±°ë‚˜ íŠ¹ì • ì¡°ê±´ì‹ì„ ì¨ì¤Œìœ¼ë¡œì¨
ì‚¬ëŒì´ ì½ê¸° ì¢‹ì€ ë°©ë²•ìœ¼ë¡œ ë°ì´í„°ì— ì ‘ê·¼.
ğŸ¤” ilocëŠ” ì»´í“¨í„°ê°€ ì½ê¸° ì¢‹ì€ ë°©ë²•ìœ¼ë¡œ ë°ì´í„°ê°€ ìˆëŠ”
ìœ„ì¹˜ë¥¼ ì •ìˆ˜ë¡œ(ìˆœì„œ) ì ‘ê·¼.
'''

ì§€ì—­         ì„œìš¸
ê·œëª¨      60ã¡ì´í•˜
ì—°ë„       2015
ì›”          10
ë¶„ì–‘ê°€      5652
Name: 0, dtype: object

   ì§€ì—­            ê·œëª¨    ì—°ë„   ì›”   ë¶„ì–‘ê°€
0  ì„œìš¸         60ã¡ì´í•˜  2015  10  5652
1  ì„œìš¸   60ã¡ì´ˆê³¼ 85ã¡ì´í•˜  2015  10  5882

   ì§€ì—­             ê·œëª¨    ì—°ë„   ì›”   ë¶„ì–‘ê°€
0  ì„œìš¸          60ã¡ì´í•˜  2015  10  5652
1  ì„œìš¸    60ã¡ì´ˆê³¼ 85ã¡ì´í•˜  2015  10  5882
2  ì„œìš¸   85ã¡ì´ˆê³¼ 102ã¡ì´í•˜  2015  10  5721

ì§€ì—­         ì„œìš¸
ê·œëª¨      60ã¡ì´í•˜
ì—°ë„       2015
ì›”          10
ë¶„ì–‘ê°€      5652
Name: 0, dtype: object

np.int64(2015)

   ì§€ì—­            ê·œëª¨
0  ì„œìš¸         60ã¡ì´í•˜
1  ì„œìš¸   60ã¡ì´ˆê³¼ 85ã¡ì´í•˜

'\nğŸ¤” locëŠ” ì¹¼ëŸ¼ëª…ì„ ì§ì ‘ ì ê±°ë‚˜ íŠ¹ì • ì¡°ê±´ì‹ì„ ì¨ì¤Œìœ¼ë¡œì¨\nì‚¬ëŒì´ ì½ê¸° ì¢‹ì€ ë°©ë²•ìœ¼ë¡œ ë°ì´í„°ì— ì ‘ê·¼.\nğŸ¤” ilocëŠ” ì»´í“¨í„°ê°€ ì½ê¸° ì¢‹ì€ ë°©ë²•ìœ¼ë¡œ ë°ì´í„°ê°€ ìˆëŠ”\nìœ„ì¹˜ë¥¼ ì •ìˆ˜ë¡œ(ìˆœì„œ) ì ‘ê·¼.\n'

In [13]:
# ë°ì´í„° í•„í„°ë§
display(ë³€ìˆ˜ëª…[ë³€ìˆ˜ëª…['ì—°ë„']==2015])
'''
ğŸ” ë³€ìˆ˜ëª…[ì¡°ê±´]
ğŸ¤” íŠ¹ì • ì¡°ê±´ì— í•´ë‹¹í•˜ëŠ” ë°ì´í„°ë¥¼ ì„ íƒí•˜ëŠ” ë°©ë²•
ex) ë³€ìˆ˜ëª…[ë³€ìˆ˜ëª…['ì—°ë„']==2015] -> ë³€ìˆ˜ëª… ë°ì´í„° í”„ë ˆì„ì—ì„œ 'ì—°ë„'ì»¬ëŸ¼ì—ì„œ 2015ë§Œ í•„í„°ë§
'''
display(ë³€ìˆ˜ëª…[ë³€ìˆ˜ëª…['ì—°ë„'].isin([2015])])
'''
ğŸ” ë³€ìˆ˜ëª…[ë³€ìˆ˜ëª…[ì—´ ì´ë¦„].isin(ì°¾ê³ ìí•˜ëŠ”ë¦¬ìŠ¤íŠ¸)]
ğŸ¤” íŠ¹ì • ì¡°ê±´ì— í•´ë‹¹í•˜ëŠ” ë°ì´í„°ë¥¼ ì„ íƒí•˜ëŠ” ë°©ë²• / ë¦¬ìŠ¤íŠ¸ë¡œ ë„£ì–´ì•¼í•œë‹¤!
'''

     ì§€ì—­             ê·œëª¨    ì—°ë„   ì›”   ë¶„ì–‘ê°€
0    ì„œìš¸          60ã¡ì´í•˜  2015  10  5652
1    ì„œìš¸    60ã¡ì´ˆê³¼ 85ã¡ì´í•˜  2015  10  5882
2    ì„œìš¸   85ã¡ì´ˆê³¼ 102ã¡ì´í•˜  2015  10  5721
3    ì„œìš¸         102ã¡ì´ˆê³¼  2015  10  5879
4    ì¸ì²œ          60ã¡ì´í•˜  2015  10  3488
..   ..            ...   ...  ..   ...
187  ê²½ë‚¨   85ã¡ì´ˆê³¼ 102ã¡ì´í•˜  2015  12  2934
188  ê²½ë‚¨         102ã¡ì´ˆê³¼  2015  12  3019
189  ì œì£¼    60ã¡ì´ˆê³¼ 85ã¡ì´í•˜  2015  12  2260
190  ì œì£¼   85ã¡ì´ˆê³¼ 102ã¡ì´í•˜  2015  12  2583
191  ì œì£¼         102ã¡ì´ˆê³¼  2015  12  2574

[192 rows x 5 columns]

     ì§€ì—­             ê·œëª¨    ì—°ë„   ì›”   ë¶„ì–‘ê°€
0    ì„œìš¸          60ã¡ì´í•˜  2015  10  5652
1    ì„œìš¸    60ã¡ì´ˆê³¼ 85ã¡ì´í•˜  2015  10  5882
2    ì„œìš¸   85ã¡ì´ˆê³¼ 102ã¡ì´í•˜  2015  10  5721
3    ì„œìš¸         102ã¡ì´ˆê³¼  2015  10  5879
4    ì¸ì²œ          60ã¡ì´í•˜  2015  10  3488
..   ..            ...   ...  ..   ...
187  ê²½ë‚¨   85ã¡ì´ˆê³¼ 102ã¡ì´í•˜  2015  12  2934
188  ê²½ë‚¨         102ã¡ì´ˆê³¼  2015  12  3019
189  ì œì£¼    60ã¡ì´ˆê³¼ 85ã¡ì´í•˜  2015  12  2260
190  ì œì£¼   85ã¡ì´ˆê³¼ 102ã¡ì´í•˜  2015  12  2583
191  ì œì£¼         102ã¡ì´ˆê³¼  2015  12  2574

[192 rows x 5 columns]

'\nğŸ” ë³€ìˆ˜ëª…[ë³€ìˆ˜ëª…[ì—´ ì´ë¦„].isin(ì°¾ê³ ìí•˜ëŠ”ë¦¬ìŠ¤íŠ¸)]\nğŸ¤” íŠ¹ì • ì¡°ê±´ì— í•´ë‹¹í•˜ëŠ” ë°ì´í„°ë¥¼ ì„ íƒí•˜ëŠ” ë°©ë²• / ë¦¬ìŠ¤íŠ¸ë¡œ ë„£ì–´ì•¼í•œë‹¤!\n'

In [14]:
# ë°ì´í„° ì •ë ¬í•˜ê¸°
display(ë³€ìˆ˜ëª….sort_values('ë¶„ì–‘ê°€'))
display(ë³€ìˆ˜ëª….sort_values('ë¶„ì–‘ê°€', ascending=False))
'''
ğŸ” ë³€ìˆ˜ëª….sort_values('ì—´ ì´ë¦„')
ğŸ¤” ì˜¤ë¦„ì°¨ìˆœ : ascending=True (ê¸°ë³¸ê°’) / ë‚´ë¦¼ì°¨ìˆœ : ascending=False
'''

      ì§€ì—­             ê·œëª¨    ì—°ë„   ì›”    ë¶„ì–‘ê°€
103   ì¶©ë¶   85ã¡ì´ˆê³¼ 102ã¡ì´í•˜  2015  11   1868
425   ì „ë¶          60ã¡ì´í•˜  2016   4   1900
242   ì „ë‚¨    60ã¡ì´ˆê³¼ 85ã¡ì´í•˜  2016   1   1906
178   ì „ë‚¨    60ã¡ì´ˆê³¼ 85ã¡ì´í•˜  2015  12   1906
114   ì „ë‚¨    60ã¡ì´ˆê³¼ 85ã¡ì´í•˜  2015  11   1906
...   ..            ...   ...  ..    ...
3177  ì„œìš¸   85ã¡ì´ˆê³¼ 102ã¡ì´í•˜  2020   1  12728
2760  ì„œìš¸   85ã¡ì´ˆê³¼ 102ã¡ì´í•˜  2019   6  12728
2878  ì„œìš¸   85ã¡ì´ˆê³¼ 102ã¡ì´í•˜  2019   8  12728
3118  ì„œìš¸   85ã¡ì´ˆê³¼ 102ã¡ì´í•˜  2019  12  12728
3236  ì„œìš¸   85ã¡ì´ˆê³¼ 102ã¡ì´í•˜  2020   2  13835

[3293 rows x 5 columns]

      ì§€ì—­             ê·œëª¨    ì—°ë„   ì›”    ë¶„ì–‘ê°€
3236  ì„œìš¸   85ã¡ì´ˆê³¼ 102ã¡ì´í•˜  2020   2  13835
2819  ì„œìš¸   85ã¡ì´ˆê³¼ 102ã¡ì´í•˜  2019   7  12728
3177  ì„œìš¸   85ã¡ì´ˆê³¼ 102ã¡ì´í•˜  2020   1  12728
2878  ì„œìš¸   85ã¡ì´ˆê³¼ 102ã¡ì´í•˜  2019   8  12728
2760  ì„œìš¸   85ã¡ì´ˆê³¼ 102ã¡ì´í•˜  2019   6  12728
...   ..            ...   ...  ..    ...
114   ì „ë‚¨    60ã¡ì´ˆê³¼ 85ã¡ì´í•˜  2015  11   1906
178   ì „ë‚¨    60ã¡ì´ˆê³¼ 85ã¡ì´í•˜  2015  12   1906
242   ì „ë‚¨    60ã¡ì´ˆê³¼ 85ã¡ì´í•˜  2016   1   1906
425   ì „ë¶          60ã¡ì´í•˜  2016   4   1900
103   ì¶©ë¶   85ã¡ì´ˆê³¼ 102ã¡ì´í•˜  2015  11   1868

[3293 rows x 5 columns]

"\nğŸ” ë³€ìˆ˜ëª….sort_values('ì—´ ì´ë¦„')\nğŸ¤” ì˜¤ë¦„ì°¨ìˆœ : ascending=True (ê¸°ë³¸ê°’) / ë‚´ë¦¼ì°¨ìˆœ : ascending=False\n"

In [15]:
# ì¸ë±ìŠ¤ ì´ˆê¸°í™” ë° ì„¤ì •
display(ë³€ìˆ˜ëª….reset_index())
ë³€ìˆ˜ëª… = ë³€ìˆ˜ëª….reset_index()
'''
ğŸ” ë³€ìˆ˜ëª….reset_index()
ğŸ¤” ì¸ë±ìŠ¤ë¥¼ ì´ˆê¸°í™” í•˜ê³  ê¸°ì¡´ ì¸ë±ìŠ¤ëŠ” ìƒˆë¡œìš´ ì—´ë¡œ ì¶”ê°€ëœë‹¤.
'''

display(ë³€ìˆ˜ëª….set_index('index'))
'''
ğŸ” ë³€ìˆ˜ëª….set_index('ì»¬ëŸ¼ëª…')
ğŸ¤” íŠ¹ì • ì»¬ëŸ¼ì„ ì¸ë±ìŠ¤ë¡œ ì„¤ì •í•œë‹¤.
'''

      index  ì§€ì—­             ê·œëª¨    ì—°ë„   ì›”   ë¶„ì–‘ê°€
0         0  ì„œìš¸          60ã¡ì´í•˜  2015  10  5652
1         1  ì„œìš¸    60ã¡ì´ˆê³¼ 85ã¡ì´í•˜  2015  10  5882
2         2  ì„œìš¸   85ã¡ì´ˆê³¼ 102ã¡ì´í•˜  2015  10  5721
3         3  ì„œìš¸         102ã¡ì´ˆê³¼  2015  10  5879
4         4  ì¸ì²œ          60ã¡ì´í•˜  2015  10  3488
...     ...  ..            ...   ...  ..   ...
3288   3288  ê²½ë‚¨    60ã¡ì´ˆê³¼ 85ã¡ì´í•˜  2020   2  3065
3289   3289  ê²½ë‚¨   85ã¡ì´ˆê³¼ 102ã¡ì´í•˜  2020   2  3247
3290   3290  ì œì£¼          60ã¡ì´í•˜  2020   2  4039
3291   3291  ì œì£¼    60ã¡ì´ˆê³¼ 85ã¡ì´í•˜  2020   2  3962
3292   3292  ì œì£¼         102ã¡ì´ˆê³¼  2020   2  3601

[3293 rows x 6 columns]

       ì§€ì—­             ê·œëª¨    ì—°ë„   ì›”   ë¶„ì–‘ê°€
index
0      ì„œìš¸          60ã¡ì´í•˜  2015  10  5652
1      ì„œìš¸    60ã¡ì´ˆê³¼ 85ã¡ì´í•˜  2015  10  5882
2      ì„œìš¸   85ã¡ì´ˆê³¼ 102ã¡ì´í•˜  2015  10  5721
3      ì„œìš¸         102ã¡ì´ˆê³¼  2015  10  5879
4      ì¸ì²œ          60ã¡ì´í•˜  2015  10  3488
...    ..            ...   ...  ..   ...
3288   ê²½ë‚¨    60ã¡ì´ˆê³¼ 85ã¡ì´í•˜  2020   2  3065
3289   ê²½ë‚¨   85ã¡ì´ˆê³¼ 102ã¡ì´í•˜  2020   2  3247
3290   ì œì£¼          60ã¡ì´í•˜  2020   2  4039
3291   ì œì£¼    60ã¡ì´ˆê³¼ 85ã¡ì´í•˜  2020   2  3962
3292   ì œì£¼         102ã¡ì´ˆê³¼  2020   2  3601

[3293 rows x 5 columns]

"\nğŸ” ë³€ìˆ˜ëª….set_index('ì»¬ëŸ¼ëª…')\nğŸ¤” íŠ¹ì • ì»¬ëŸ¼ì„ ì¸ë±ìŠ¤ë¡œ ì„¤ì •í•œë‹¤.\n"