In [1]:
import pandas as pd

In [3]:
arr = [['KFC',1000,4.5],
       ['McDonald',2000,3.9],
       ['SchoolFood',2500,4.2]]
df = pd.DataFrame(arr, columns=['food','price','rating'])
df

         food  price  rating
0         KFC   1000     4.5
1    McDonald   2000     3.9
2  SchoolFood   2500     4.2

In [4]:
df[['food','rating']]

         food  rating
0         KFC     4.5
1    McDonald     3.9
2  SchoolFood     4.2

In [6]:
df = df.rename(columns={'food':'place'})
df

        place  price  rating
0         KFC   1000     4.5
1    McDonald   2000     3.9
2  SchoolFood   2500     4.2